/* begin header CSS */

.headerBar {
  text-align: center;
  background-color: rgb(51, 51, 51);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.headerLogoText {
  font-size: 40px;
  color: green;
  font-weight: bolder;
}

.subHeaderLogo {
  font-size: 20px;
  color: green;
}

.headerLink {
  border: 2px solid green;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: green;
  outline: green;
  padding: 10px;
}

.headerLinks {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

/* begin body CSS */

body {
  background-color: rgb(51, 51, 51);
}

/* begin comment formatting */

.commentBox {
  padding-top: auto;
  padding-bottom: auto;
}

.comment {
  border: 2px solid red;
  border-radius: 10px;
  opacity: 0.75;
}
.comment p {
  font-size: 15;
  color: red;
  padding: 7px;
  font-weight: 600;
  margin-bottom: 0px;
}

/* begin post CSS */

.post {
  font-family: serif;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: whitesmoke;
}

.post .dateBox {
  border: 2px solid;
}

.postTime {
  text-align: right;
  font-size: 14px;
  /* padding-right: 20px; */
  padding: 5px;
  margin-bottom: 0px;
  color: gray;
}

.postinfo {
  border: 2px solid;
}

.postinfo h1 {
  text-align: right;
  font-size: 14px;
}

.postinfo .name {
  font-weight: bold;
  font-size: 16px;
}

.postinfo .avatar {
  display: block;
  margin-right: 0px;
  margin-left: auto;
  height: 100px;
  width: 100px;
}

.postText {
  border: 2px solid;
  padding-top: 5px;
}

.postText p {
  color: black;
}
