.narrator {
  color: red;
  border-color: red;
}

.blacksocks333 {
  color: black;
  border-color: black;
}

.joshd65 {
  color: blue;
  border-color: blue;
}

.noise_god_9001 {
  color: purple;
  border-color: purple;
}
